body {
    background: black;
    color: #00ff00;
    font-family: "Courier New", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Terminal box */
.container {
    border: 2px solid #00ff00;
    padding: 20px;
    width: 350px;
    box-shadow: 0 0 20px #00ff00;
}

/* Title */
h1 {
    text-align: center;
}

/* Input */
input {
    width: 100%;
    padding: 10px;
    background: black;
    color: #00ff00;
    border: 1px solid #00ff00;
    margin-bottom: 10px;
}

/* Buttons */
button {
    background: black;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background: #00ff00;
    color: black;
}

/* Task list */
li {
    list-style: none;
    padding: 8px;
    border-bottom: 1px solid #00ff00;
    display: flex;
    justify-content: space-between;
}

/* Completed */
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

/* Message */
#message {
    color: red;
    font-size: 12px;
}

/* Counter */
#count {
    margin-top: 10px;
}